.fancy {
    position: relative;
    background-color: #FFC;
    padding: 2rem;
    text-align: center;
    max-width: 200px;
  }
  
  .fancy::before {
    content: "";
  
    position : absolute;
    z-index  : -1;
    bottom   : 15px;
    right    : 5px;
    width    : 50%;
    top      : 80%;
    max-width: 200px;
  
    box-shadow: 0px 13px 10px black;
    transform: rotate(4deg);
  }
  